In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import missingno as msno
import pandas_profiling
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
#解决中文显示问题
plt.rcParams["font.sans-serif"] = [u"SimHei"]
plt.rcParams["axes.unicode_minus"] = False
#解决图中负号问题
plt.rcParams['axes.unicode_minus']=False

In [130]:
column_name=['id','target','card_type','netlong','owner_city','arpu','out_prdct_fee','prdct_fee','point_fee','myth_fee','brand','listing_date','listing_price','nettime','user_level','sex','family_client','group_client','music','expirationtime','video_member','other_tv','finance','bank','campus_client','migu_tv','age','adis','arpu_avg','myth_fee_avg','out_prdct_fee_avg','prdct_fee_avg','os','battery_capacity','storage','screen_size']

# names = ['id','target','card_type','netlong','owner_city','arpu','out_prdct_fee','prdct_fee','point_fee','myth_fee','brand','listing_date','listing_price','nettime','user_level','sex','family_client','group_client','music','expirationtime','video_member','other_tv','finance','bank','campus_client','migu_tv','age','adis','arpu_avg','myth_fee_avg','out_prdct_fee_avg','prdct_fee_avg']
original = pd.read_table('ZZ0702GuangFa_Samples100000_FeatureData.txt',names=column_name)
display(original.head(),original.shape)

,id,target,card_type,netlong,owner_city,arpu,out_prdct_fee,prdct_fee,point_fee,myth_fee,...,age,adis,arpu_avg,myth_fee_avg,out_prdct_fee_avg,prdct_fee_avg,os,battery_capacity,storage,screen_size
0,13013302938,1,0.0,NaN,联通联通,9.0,0.0,0.0,0.0,0.0,...,NaN,NaN,38.863332,0.0,NaN,0.0,4.0,4120mAh,64GB,6.0
1,13022062073,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13035901978,1,NaN,NaN,NaN,37.2,0.0,0.0,0.0,0.0,...,NaN,NaN,37.013334,0.0,NaN,0.0,NaN,NaN,NaN,NaN
3,13042151031,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3050mAh,16/64GB,5.0
4,13045173577,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(103513, 36)

In [131]:
display(original.target.value_counts())

0    92989
1    10524
Name: target, dtype: int64

In [132]:
sample_false=original[original['target']==0].sample(n=10000, replace=False,random_state=0, axis=None).reset_index(drop=True)
sample_true=original[original['target']==1].sample(n=10000, replace=False,random_state=0, axis=None).reset_index(drop=True)
combin_df=sample_true.append(sample_false)
combin_df.to_excel('d:\sample_model.xlsx',index=None)

In [133]:
sample_true.head()

,id,target,card_type,netlong,owner_city,arpu,out_prdct_fee,prdct_fee,point_fee,myth_fee,...,age,adis,arpu_avg,myth_fee_avg,out_prdct_fee_avg,prdct_fee_avg,os,battery_capacity,storage,screen_size
0,18746191488,1,1.0,37.0,黑龙江哈尔滨,45.32,6.48,29.0,0.0,0.0,...,NaN,1.0,45.320000,0.0,6.48,29.0,NaN,NaN,NaN,NaN
1,13769713610,1,0.0,NaN,云南曲靖,115.70,0.00,0.0,0.0,0.0,...,NaN,NaN,115.099998,0.0,NaN,0.0,4.0,2920mAH,16GB/32GB,5.0
2,13838040676,1,1.0,NaN,河南郑州,143.20,0.20,135.0,9951.0,0.0,...,NaN,1.0,148.810003,0.0,0.20,135.0,4.0,3000mAh,32GB,5.5
3,15945389676,1,0.0,30.0,黑龙江牡丹江,60.99,1.00,90.0,0.0,0.0,...,NaN,NaN,60.990002,0.0,1.00,90.0,4.0,3000mAh,16GB,5.7
4,13888246777,1,1.0,NaN,云南昆明,258.00,0.00,0.0,0.0,0.0,...,NaN,NaN,258.000000,0.0,NaN,0.0,3.0,1715mAh,16GB/64GB/128GB,4.7

In [123]:
import random
import pandas as pd
def create_column_randomsample(column_random_dict):
    total_column_dict={}
    total_column_df=[]
    for columns_name in column_random_dict:
        if columns_name not in total_column_dict:
            total_column_dict[columns_name]=[]        
        for value_keys in column_random_dict[columns_name]:
            value_keys_counts=int(column_random_dict[columns_name][value_keys]*100000)
            for index in range(value_keys_counts):
                total_column_dict[columns_name].append(value_keys)
            
    result_df=pd.DataFrame(total_column_dict)
    for columns in result_df.columns:
        result_df[columns]=result_df[columns].sample(frac=1).reset_index(drop=True)
    return result_df

def create_number_randomsample(number_random_dict):
    import numpy as np
    import random
    
    total_column_dict={}
    
    all_True_column_df={}
    all_False_column_df={}
    
    for columns_name in number_random_dict:
        number_random_dict_column_keyslist=list(number_random_dict[columns_name].keys())
        random.shuffle(number_random_dict_column_keyslist)        
        if columns_name not in total_column_dict:
            signle_True_column_df=[]
            for column_section_key in number_random_dict_column_keyslist:
                True_column_df=[]
                
                left_value=int(column_section_key.split('-')[0])
                right_value=int(column_section_key.split('-')[1])
                
                True_sample_number=int(100000*number_random_dict[columns_name][column_section_key]['false_ratio'])
                for value_number in range(True_sample_number):
                    True_column_df.append(random.randint(left_value,right_value))
                #print(left_value,right_value,True_column_df)
                signle_True_column_df+=(True_column_df)
            #print(signle_True_column_df)
            all_True_column_df[columns_name]=signle_True_column_df
            
    
    for columns_name in number_random_dict:
        number_random_dict_column_keyslist=list(number_random_dict[columns_name].keys())
        random.shuffle(number_random_dict_column_keyslist)        
        if columns_name not in total_column_dict:
            signle_False_column_df=[]
            for column_section_key in number_random_dict_column_keyslist:
                False_column_df=[]
                
                left_value=int(column_section_key.split('-')[0])
                right_value=int(column_section_key.split('-')[1])
                False_sample_number=int(100000*number_random_dict[columns_name][column_section_key]['true_ratio'])
                for value_number in range(False_sample_number):
                    False_column_df.append(random.randint(left_value,right_value))
                #print(left_value,right_value,True_column_df)
                signle_False_column_df+=(False_column_df)
            all_False_column_df[columns_name]=signle_False_column_df
            
    for columns_name in number_random_dict:       
        total_column_dict[columns_name]=all_True_column_df[columns_name]+all_False_column_df[columns_name]
        
    
    return pd.DataFrame(total_column_dict)
            
    
True_number_random_dict={
                        '年龄':{
                                 '18-18':{'false_ratio':0.01,'true_ratio':0.01},'19-25':{'false_ratio':0.08,'true_ratio':0.01},
                                 '25-35':{'false_ratio':0.5,'true_ratio':0.3},'35-45':{'false_ratio':0.3,'true_ratio':0.53},
                                 '45-60':{'false_ratio':0.1,'true_ratio':0.14},'60-90':{'false_ratio':0.01,'true_ratio':0.01},},
                        '近1个月交易次数':{
                                 '0-0':{'false_ratio':0.04,'true_ratio':0.03},'0-1':{'false_ratio':0.11,'true_ratio':0.05},
                                 '1-2':{'false_ratio':0.16,'true_ratio':0.10},'2-3':{'false_ratio':0.3,'true_ratio':0.15},
                                 '3-8':{'false_ratio':0.2,'true_ratio':0.21},'8-15':{'false_ratio':0.12,'true_ratio':0.3},
                                 '15-30':{'false_ratio':0.05,'true_ratio':0.12},'30-300':{'false_ratio':0.02,'true_ratio':0.04},}, 
                        '近1个月笔均交易金额':{
                                 '0-100':{'false_ratio':0.02,'true_ratio':0.01},'100-300':{'false_ratio':0.23,'true_ratio':0.18},
                                 '300-500':{'false_ratio':0.35,'true_ratio':0.25},'500-1000':{'false_ratio':0.21,'true_ratio':0.32},
                                 '1000-10000':{'false_ratio':0.12,'true_ratio':0.15},'10000-100000':{'false_ratio':0.07,'true_ratio':0.09},},                                 
                         '近3个月交易次数':{
                                 '0-0':{'false_ratio':0.04,'true_ratio':0.02},'0-3':{'false_ratio':0.11,'true_ratio':0.04},
                                 '3-6':{'false_ratio':0.16,'true_ratio':0.11},'6-10':{'false_ratio':0.2,'true_ratio':0.15},
                                 '10-25':{'false_ratio':0.3,'true_ratio':0.19},'25-50':{'false_ratio':0.12,'true_ratio':0.33},
                                 '50-100':{'false_ratio':0.05,'true_ratio':0.12},'100-1000':{'false_ratio':0.02,'true_ratio':0.04},}, 
                         '近3个月笔均交易金额':{
                                 '0-100':{'false_ratio':0.02,'true_ratio':0.01},'100-300':{'false_ratio':0.2,'true_ratio':0.17},
                                 '300-500':{'false_ratio':0.38,'true_ratio':0.24},'500-1000':{'false_ratio':0.23,'true_ratio':0.34},
                                 '1000-10000':{'false_ratio':0.11,'true_ratio':0.16},'10000-100000':{'false_ratio':0.06,'true_ratio':0.08},}, 
                         '近6个月交易次数':{
                                 '0-0':{'false_ratio':0.04,'true_ratio':0.01},'0-5':{'false_ratio':0.09,'true_ratio':0.05},
                                 '5-10':{'false_ratio':0.16,'true_ratio':0.10},'10-20':{'false_ratio':0.2,'true_ratio':0.15},
                                 '20-50':{'false_ratio':0.32,'true_ratio':0.23},'50-100':{'false_ratio':0.12,'true_ratio':0.31},
                                 '100-200':{'false_ratio':0.05,'true_ratio':0.11},'200-2000':{'false_ratio':0.02,'true_ratio':0.04},},
                         '近6个月笔均交易金额':{
                                 '0-100':{'false_ratio':0.02,'true_ratio':0.01},'100-300':{'false_ratio':0.19,'true_ratio':0.16},
                                 '300-500':{'false_ratio':0.36,'true_ratio':0.20},'500-1000':{'false_ratio':0.24,'true_ratio':0.37},
                                 '1000-10000':{'false_ratio':0.13,'true_ratio':0.17},'10000-100000':{'false_ratio':0.06,'true_ratio':0.09},}, 
                         '近12个月交易次数':{
                                 '0-0':{'false_ratio':0.04,'true_ratio':0.01},'0-10':{'false_ratio':0.08,'true_ratio':0.02},
                                 '10-20':{'false_ratio':0.15,'true_ratio':0.08},'20-50':{'false_ratio':0.21,'true_ratio':0.13},
                                 '50-100':{'false_ratio':0.33,'true_ratio':0.23},'100-200':{'false_ratio':0.12,'true_ratio':0.34},
                                 '200-400':{'false_ratio':0.05,'true_ratio':0.15},'400-4000':{'false_ratio':0.02,'true_ratio':0.04},},
    
                         '近12个月笔均交易金额':{
                                 '0-100':{'false_ratio':0.02,'true_ratio':0.01},'100-300':{'false_ratio':0.21,'true_ratio':0.14},
                                 '300-500':{'false_ratio':0.4,'true_ratio':0.22},'500-1000':{'false_ratio':0.21,'true_ratio':0.35},
                                 '1000-10000':{'false_ratio':0.12,'true_ratio':0.2},'10000-100000':{'false_ratio':0.04,'true_ratio':0.08},},
    
                         '近1个月人民币活期存款':{
                                 '0-5000':{'false_ratio':0.15,'true_ratio':0.06},'5000-10000':{'false_ratio':0.07,'true_ratio':0.07},
                                 '10000-30000':{'false_ratio':0.1,'true_ratio':0.1},'30000-50000':{'false_ratio':0.17,'true_ratio':0.14},
                                 '50000-80000':{'false_ratio':0.25,'true_ratio':0.33},'80000-150000':{'false_ratio':0.14,'true_ratio':0.14},
                                 '150000-500000':{'false_ratio':0.08,'true_ratio':0.12},'500000-5000000':{'false_ratio':0.04,'true_ratio':0.04},},
                         '近3个月人民币活期存款':{
                                 '0-5000':{'false_ratio':0.13,'true_ratio':0.05},'5000-10000':{'false_ratio':0.06,'true_ratio':0.07},
                                 '10000-30000':{'false_ratio':0.11,'true_ratio':0.09},'30000-50000':{'false_ratio':0.17,'true_ratio':0.16},
                                 '50000-80000':{'false_ratio':0.26,'true_ratio':0.35},'80000-150000':{'false_ratio':0.15,'true_ratio':0.14},
                                 '150000-500000':{'false_ratio':0.08,'true_ratio':0.1},'500000-5000000':{'false_ratio':0.04,'true_ratio':0.04},},
    
    
    
    
    
    

                        '近6个月人民币活期存款余额均值':{
                                                         '0-5000':{'false_ratio':0.14,'true_ratio':0.04},'5000-10000':{'false_ratio':0.08,'true_ratio':0.07},
                                                         '10000-30000':{'false_ratio':0.11,'true_ratio':0.09},'30000-50000':{'false_ratio':0.17,'true_ratio':0.16},
                                                         '50000-80000':{'false_ratio':0.25,'true_ratio':0.32},'80000-150000':{'false_ratio':0.14,'true_ratio':0.18},
                                                         '150000-500000':{'false_ratio':0.07,'true_ratio':0.1},
                                                         '500000-5000000':{'false_ratio':0.04,'true_ratio':0.04}},

                        '近12个月人民币活期存款余额均值':{
                                                         '0-5000':{'false_ratio':0.11,'true_ratio':0.03},'5000-10000':{'false_ratio':0.08,'true_ratio':0.08},
                                                         '10000-30000':{'false_ratio':0.11,'true_ratio':0.12},'30000-50000':{'false_ratio':0.18,'true_ratio':0.16},
                                                         '50000-80000':{'false_ratio':0.27,'true_ratio':0.33},'80000-150000':{'false_ratio':0.12,'true_ratio':0.14},
                                                         '150000-500000':{'false_ratio':0.09,'true_ratio':0.09},
                                                         '500000-5000000':{'false_ratio':0.04,'true_ratio':0.05}},

                        '近1个月人民币定期存款余额':{
                                                 '0-10000':{'false_ratio':0.05,'true_ratio':0.02},'10000-20000':{'false_ratio':0.09,'true_ratio':0.06},
                                                 '20000-50000':{'false_ratio':0.21,'true_ratio':0.18},'50000-80000':{'false_ratio':0.32,'true_ratio':0.28},
                                                 '80000-150000':{'false_ratio':0.18,'true_ratio':0.22},'150000-500000':{'false_ratio':0.09,'true_ratio':0.15},
                                                 '500000-1000000':{'false_ratio':0.04,'true_ratio':0.07},
                                                 '1000000-10000000':{'false_ratio':0.02,'true_ratio':0.02}},
                        '近3个月人民币定期存款余额均值':{
                                                         '0-10000':{'false_ratio':0.05,'true_ratio':0.02},'10000-20000':{'false_ratio':0.08,'true_ratio':0.07},
                                                         '20000-50000':{'false_ratio':0.2,'true_ratio':0.18},'50000-80000':{'false_ratio':0.31,'true_ratio':0.27},
                                                         '80000-150000':{'false_ratio':0.2,'true_ratio':0.23},'150000-500000':{'false_ratio':0.09,'true_ratio':0.14},
                                                         '500000-1000000':{'false_ratio':0.05,'true_ratio':0.07},
                                                        '1000000-10000000':{'false_ratio':0.02,'true_ratio':0.02}},

                        '客户级信用额度':{
                                           '2000-4000':{'false_ratio':0.06,'true_ratio':0},'4000-6000':{'false_ratio':0.14,'true_ratio':0.02},
                                           '6000-10000':{'false_ratio':0.12,'true_ratio':0.12},'10000-20000':{'false_ratio':0.05,'true_ratio':0.18},
                                           '20000-50000':{'false_ratio':0.02,'true_ratio':0.27},'50000-500000':{'false_ratio':0.01,'true_ratio':0.05},
                                            '999999999-999999999':{'false_ratio':0.6,'true_ratio':0.36}},

                        '近1个月个人贷款':{
                                        '0-0':{'false_ratio':0.3,'true_ratio':0.45},
                                        '0-20000':{'false_ratio':0.1,'true_ratio':0.15},
                                        '20000-25000':{'false_ratio':0.3,'true_ratio':0.2},
                                        '25000-50000':{'false_ratio':0.15,'true_ratio':0.1},
                                        '50000-100000':{'false_ratio':0.1,'true_ratio':0.05},
                                        '100000-500000':{'false_ratio':0.03,'true_ratio':0.03},
                                        '500000-5000000':{'false_ratio':0.02,'true_ratio':0.02},},

                        
                        '近12个月行内总资产均值':{
                                            '0-10000':{'false_ratio':0.13,'true_ratio':0.03},
                                            '10000-30000':{'false_ratio':0.09,'true_ratio':0.08},
                                            '30000-100000':{'false_ratio':0.21,'true_ratio':0.15},
                                            '100000-150000':{'false_ratio':0.31,'true_ratio':0.23},
                                            '150000-300000':{'false_ratio':0.13,'true_ratio':0.31},
                                            '300000-500000':{'false_ratio':0.07,'true_ratio':0.12},
                                            '500000-1000000':{'false_ratio':0.04,'true_ratio':0.06},
                                            '1000000-10000000':{'false_ratio':0.02,'true_ratio':0.02}},

                        '近1个月行内总资产':{
                                        '0-10000':{'false_ratio':0.15,'true_ratio':0.04},
                                        '10000-30000':{'false_ratio':0.12,'true_ratio':0.12},
                                        '30000-100000':{'false_ratio':0.2,'true_ratio':0.19},
                                        '100000-150000':{'false_ratio':0.30,'true_ratio':0.24},
                                        '150000-300000':{'false_ratio':0.12,'true_ratio':0.19},
                                        '300000-500000':{'false_ratio':0.08,'true_ratio':0.14},
                                        '500000-1000000':{'false_ratio':0.02,'true_ratio':0.06},
                                        '1000000-10000000':{'false_ratio':0.01,'true_ratio':0.02}},

                        '近12个月收入总额':{
                                        '0-50000':{'false_ratio':0.15,'true_ratio':0.08},
                                        '50000-60000':{'false_ratio':0.22,'true_ratio':0.15},
                                        '60000-85000':{'false_ratio':0.25,'true_ratio':0.18},
                                        '85000-120000':{'false_ratio':0.14,'true_ratio':0.2},
                                        '120000-180000':{'false_ratio':0.1,'true_ratio':0.25},
                                        '180000-240000':{'false_ratio':0.09,'true_ratio':0.09},
                                        '240000-360000':{'false_ratio':0.04,'true_ratio':0.04},
                                        '360000-3600000':{'false_ratio':0.01,'true_ratio':0.01},},



                        '近6个月人民币定期存款余额均值':{
                                                    '0-10000':{'false_ratio':0.05,'true_ratio':0.02},
                                                    '10000-20000':{'false_ratio':0.08,'true_ratio':0.07},
                                                    '20000-50000':{'false_ratio':0.20,'true_ratio':0.18},
                                                    '50000-80000':{'false_ratio':0.30,'true_ratio':0.27},
                                                    '80000-150000':{'false_ratio':0.20,'true_ratio':0.23},
                                                    '150000-500000':{'false_ratio':0.1,'true_ratio':0.14},
                                                    '500000-1000000':{'false_ratio':0.05,'true_ratio':0.07},
                                                    '1000000-1000000':{'false_ratio':0.02,'true_ratio':0.02},
                                                    },


                        '近12个月人民币定期存款余额均值':{
                                                    '0-10000':{'false_ratio':0.04,'true_ratio':0.03},
                                                    '10000-20000':{'false_ratio':0.08,'true_ratio':0.07},
                                                    '20000-50000':{'false_ratio':0.16,'true_ratio':0.14},
                                                    '50000-80000':{'false_ratio':0.35,'true_ratio':0.30},
                                                    '80000-150000':{'false_ratio':0.20,'true_ratio':0.22},
                                                    '150000-500000':{'false_ratio':0.1,'true_ratio':0.15},
                                                    '500000-1000000':{'false_ratio':0.05,'true_ratio':0.05},
                                                    '1000000-1000000':{'false_ratio':0.02,'true_ratio':0.04},
                                                    },


                        '征信认定年收入':{
                                    '0-20000':{'false_ratio':0.01,'true_ratio':0.01},
                                    '20000-50000':{'false_ratio':0.05,'true_ratio':0.05},
                                    '50000-80000':{'false_ratio':0.2,'true_ratio':0.1},
                                    '80000-120000':{'false_ratio':0.19,'true_ratio':0.14},
                                    '120000-200000':{'false_ratio':0.15,'true_ratio':0.3},
                                    '200000-500000':{'false_ratio':0.1,'true_ratio':0.1},
                                    '500000-1000000':{'false_ratio':0.05,'true_ratio':0.05},
                                    '1000000-10000000':{'false_ratio':0.01,'true_ratio':0.01},
                                    '999999999-999999999':{'false_ratio':0.24,'true_ratio':0.24},
                                    },


                        '近3个月平均收入':{
                                    '0-3000':{'false_ratio':0.08,'true_ratio':0.1},
                                    '3000-7000':{'false_ratio':0.12,'true_ratio':0.1},
                                    '7000-10000':{'false_ratio':0.35,'true_ratio':0.2},
                                    '10000-15000':{'false_ratio':0.20,'true_ratio':0.25},
                                    '15000-20000':{'false_ratio':0.12,'true_ratio':0.1},
                                    '20000-25000':{'false_ratio':0.1,'true_ratio':0.1},
                                    '25000-50000':{'false_ratio':0.02,'true_ratio':0.1},
                                    '50000-500000':{'false_ratio':0.01,'true_ratio':0.05},
                                    },

                        '近3个月平均支出':{
                                    '0-1000':{'false_ratio':0.05,'true_ratio':0.1},
                                    '1000-1200':{'false_ratio':0.15,'true_ratio':0.1},
                                    '1200-1500':{'false_ratio':0.30,'true_ratio':0.15},
                                    '1500-2000':{'false_ratio':0.25,'true_ratio':0.15},
                                    '2000-2500':{'false_ratio':0.12,'true_ratio':0.15},
                                    '2500-3000':{'false_ratio':0.08,'true_ratio':0.22},
                                    '3000-3500':{'false_ratio':0.04,'true_ratio':0.11},
                                    '3500-35000':{'false_ratio':0.01,'true_ratio':0.02},
                                    },

                        '近3个月平均净收入（收入-支出）':{
                                                    '0-2000':{'false_ratio':0.06,'true_ratio':0.06},
                                                    '2000-5000':{'false_ratio':0.16,'true_ratio':0.16},
                                                    '5000-8000':{'false_ratio':0.34,'true_ratio':0.20},
                                                    '8000-12000':{'false_ratio':0.19,'true_ratio':0.20},
                                                    '12000-15000':{'false_ratio':0.12,'true_ratio':0.19},
                                                    '15000-20000':{'false_ratio':0.08,'true_ratio':0.14},
                                                    '20000-40000':{'false_ratio':0.04,'true_ratio':0.04},
                                                    '40000-400000':{'false_ratio':0.01,'true_ratio':0.01},
                                                    },
                        
                        }


False_column_random_dict={'性别':{'0':0.56,'1':0.44},
                         '婚姻状况':{'D':0.07,'M':0.42,'S':0.35,'W':0.04,'O':0.12},
                         '学历':{'0':0.01,'1':0.03,'2':0.05,'3':0.15,'4':0.45,'5':0.15,'6':0.05,'7':0.05,'8':0.05,'9':0.01},
                         '居住情况':{'1':0.03,'2':0.03,'3':0.44,'4':0.1,'5':0.2,'6':0.1,'7':0.1},
                         '社会保障':{'1':0.7,'0':0.3},
                         '单位性质':{'00':0.07,'01':0.01,'02':0.3,'03':0.23,'04':0.01,'05':0.08,'06':0.1,'07':0.06,'08':0.07,
                                     '09':0.04,'10':0,'11':0.03},
                         '所属城市级别':{'1':0.25,'2':0.25,'3':0.15,'4':0.15,'5':0.1,'6':0.05,'7':0.05},
                         '客户风险承受能力等级':{'1':0.33,'2':0.23,'3':0.22,'4':0.13,'5':0.09},                       
                         
                        }
True_column_random_dict={'性别':{'0':0.68,'1':0.32},
                         '婚姻状况':{'D':0.05,'M':0.45,'S':0.35,'W':0.04,'O':0.11},
                         '学历':{'0':0,'1':0.01,'2':0.02,'3':0.1,'4':0.35,'5':0.25,'6':0.2,'7':0.05,'8':0.02,'9':0},
                         '居住情况':{'1':0.01,'2':0.01,'3':0.1,'4':0.3,'5':0.35,'6':0.2,'7':0.03},
                         '社会保障':{'1':0.9,'0':0.1},                         
                         '单位性质':{'00':0.15,'01':0.01,'02':0.38,'03':0.1,'04':0.01,'05':0.08,'06':0.1,'07':0.06,'08':0.07,
                                     '09':0.01,'10':0,'11':0.03},
                         '所属城市级别':{'1':0.35,'2':0.25,'3':0.15,'4':0.15,'5':0.05,'6':0.03,'7':0.02},
                         '客户风险承受能力等级':{'1':0.33,'2':0.33,'3':0.22,'4':0.1,'5':0.02},                
                                                
                        }



False_result_df=create_column_randomsample(False_column_random_dict)
False_result_df['target']=0
True_result_df=create_column_randomsample(True_column_random_dict)
True_result_df['target']=1

total_classify_df=False_result_df.append(True_result_df)
total_numerical_df=create_number_randomsample(True_number_random_dict)
total_classify_df.reset_index(drop=True,inplace=True)
total_numerical_df.reset_index(drop=True,inplace=True)

Resulet_combin_df_total=total_classify_df.merge(total_numerical_df,left_index=True, right_index=True)
Resulet_combin_df_total=Resulet_combin_df_total[['性别', '婚姻状况', '学历', '居住情况', '社会保障', '单位性质', '所属城市级别', '客户风险承受能力等级',
       '年龄', '近1个月交易次数', '近1个月笔均交易金额', '近3个月交易次数', '近3个月笔均交易金额',
       '近6个月交易次数', '近6个月笔均交易金额', '近12个月交易次数', '近12个月笔均交易金额', '近1个月人民币活期存款',
       '近3个月人民币活期存款', '近6个月人民币活期存款余额均值', '近12个月人民币活期存款余额均值', '近1个月人民币定期存款余额',
       '近3个月人民币定期存款余额均值', '客户级信用额度', '近1个月个人贷款', '近12个月行内总资产均值', '近1个月行内总资产',
       '近12个月收入总额', '近6个月人民币定期存款余额均值', '近12个月人民币定期存款余额均值', '征信认定年收入',
       '近3个月平均收入', '近3个月平均支出', '近3个月平均净收入（收入-支出）','target']]


Resulet_combin_df_sample=Resulet_combin_df_total[Resulet_combin_df_total['target']==1].sample(n=20000).append(Resulet_combin_df_total[Resulet_combin_df_total['target']==0].sample(frac=1))

Resulet_combin_df_sample.to_excel('d:\\上海兴业银行样本造数.xlsx',index=None)

In [124]:
total_numerical_df.to_excel('d:\\兴业连续变量.xlsx',index=None)

In [92]:
display(Resulet_combin_df_total.columns,Resulet_combin_df_total[Resulet_combin_df['target']==1].sample(n=20000).head())

Index(['性别', '婚姻状况', '学历', '居住情况', '社会保障', '单位性质', '所属城市级别', '客户风险承受能力等级',
       'target', '年龄', '近1个月交易次数', '近1个月笔均交易金额', '近3个月交易次数', '近3个月笔均交易金额',
       '近6个月交易次数', '近6个月笔均交易金额', '近12个月交易次数', '近12个月笔均交易金额', '近1个月人民币活期存款',
       '近3个月人民币活期存款', '近6个月人民币活期存款余额均值', '近12个月人民币活期存款余额均值', '近1个月人民币定期存款余额',
       '近3个月人民币定期存款余额均值', '客户级信用额度', '近1个月个人贷款', '近12个月行内总资产均值', '近1个月行内总资产',
       '近12个月收入总额', '近6个月人民币定期存款余额均值', '近12个月人民币定期存款余额均值', '征信认定年收入',
       '近3个月平均收入', '近3个月平均支出', '近3个月平均净收入（收入-支出）'],
      dtype='object')

,性别,婚姻状况,学历,居住情况,社会保障,单位性质,所属城市级别,客户风险承受能力等级,target,年龄,...,近1个月个人贷款,近12个月行内总资产均值,近1个月行内总资产,近12个月收入总额,近6个月人民币定期存款余额均值,近12个月人民币定期存款余额均值,征信认定年收入,近3个月平均收入,近3个月平均支出,近3个月平均净收入（收入-支出）
84200,男,S,4,6,0,02,1,2,1,69,...,67766,89593,230335,84930,145674,21885,999999999,9240,1928,23737
70522,男,S,4,6,1,05,1,2,1,30,...,1636909,79146,51336,404720,62771,1000000,999999999,9882,2936,19151
582,男,S,6,5,0,02,2,1,1,19,...,678410,6295,135632,99330,9283,345939,635480,112850,1382,87046
67137,男,S,7,4,1,03,1,1,1,30,...,2718967,231844,84116,52908,68066,858703,999999999,9582,2987,21313
34071,男,S,5,6,0,01,1,2,1,87,...,10452,149693,4514,43783,25378,51326,110532,19763,2438,12402

In [68]:
display(False_result_df.head(),True_result_df.head())

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款,target
0,男,未婚,大专,5万,1,私营企业,C4,小米,较低,50000,否,是,0
1,男,未婚,高中,10万,1,股份制企业,C2,荣耀,基本,10000,否,否,0
2,男,已婚,大专,5万,1,股份制企业,C3,荣耀,基本,10000,是,否,0
3,男,已婚,研究生,5万,1,外商投资企业,C4,小米,较低,5000,否,否,0
4,女,未婚,高中中专,10万,1,私营企业,C2,华为,基本,30000,是,否,0

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款,target
0,男,未婚,初中,10万,1,私营企业,C3,苹果,基本,50000,否,是,1
1,男,已婚,大专,5万,1,外商投资企业,C3,苹果,基本,20000,否,否,1
2,男,未婚,本科,30万,1,国有企业,C4,OPPO,中等,20000,是,是,1
3,男,已婚,研究生,5万,1,私营企业,C4,vivo,较低,20000,否,否,1
4,男,已婚,研究生,10万,1,私营企业,C5,华为,中等,50000,否,否,1

In [65]:
display(Resulet_combin_df.shape,Resulet_combin_df.head())

(200000, 39)

,性别,婚姻状况,学历,征信认定年收入_x,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度_x,...,近1个月个人贷款,近12个月行内总资产均值,近1个月行内总资产,近12个月收入总额,近6个月人民币定期存款余额均值,近12个月人民币定期存款余额均值,征信认定年收入_y,近3个月平均收入,近3个月平均支出,近3个月平均净收入（收入-支出）
0,女,未婚,高中中专,10万,1,外商投资企业,C1,小米,较低,5000,...,1829810,126076,111308,5447,7782,1000000,76044,3127,2843,26612
0,男,已婚,初中,5万,1,外商投资企业,C3,苹果,中等,20000,...,1829810,126076,111308,5447,7782,1000000,76044,3127,2843,26612
1,女,已婚,高中中专,10万,0,股份制企业,C3,小米,较低,10000,...,1412901,136978,132059,16073,9280,1000000,76589,3392,2986,24731
1,女,未婚,大专,5万,0,私营企业,C4,OPPO,基本,50000,...,1412901,136978,132059,16073,9280,1000000,76589,3392,2986,24731
2,女,已婚,高中中专,5万,1,股份制企业,C1,vivo,基本,10000,...,1622047,119023,135160,23569,7482,1000000,72220,2165,2838,26745

In [59]:
display(False_result_df.head(),total_classify_df.head(),True_result_df.tail(),total_classify_df.tail())

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款
0,女,未婚,大专,5万,1,外商投资企业,C2,小米,基本,20000,否,是
1,女,已婚,高中中专,5万,0,私营企业,C1,荣耀,较低,20000,否,是
2,女,已婚,大专,10万,0,外商投资企业,C2,华为,中等,10000,否,否
3,女,已婚,高中中专,5万,0,股份制企业,C2,小米,较低,10000,否,否
4,男,已婚,高中中专,10万,0,股份制企业,C2,vivo,较低,10000,是,否

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款
0,女,未婚,大专,5万,1,外商投资企业,C2,小米,基本,20000,否,是
1,女,已婚,高中中专,5万,0,私营企业,C1,荣耀,较低,20000,否,是
2,女,已婚,大专,10万,0,外商投资企业,C2,华为,中等,10000,否,否
3,女,已婚,高中中专,5万,0,股份制企业,C2,小米,较低,10000,否,否
4,男,已婚,高中中专,10万,0,股份制企业,C2,vivo,较低,10000,是,否

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款
99995,男,已婚,大专,40万,1,私营企业,C3,小米,基本,50000,否,是
99996,女,未婚,大专,5万,1,外商投资企业,C4,荣耀,基本,20000,是,否
99997,女,已婚,大专,10万,1,外商投资企业,C3,OPPO,基本,50000,是,否
99998,女,已婚,大专,10万,1,外商投资企业,C4,苹果,较低,50000,是,是
99999,男,已婚,大专,10万,1,股份制企业,C3,vivo,基本,10000,是,是

,性别,婚姻状况,学历,征信认定年收入,社会保障,单位性质,客户评级结果,手机品牌,客户风险承受能力等级,客户级信用额度,零售潜在客户,近12月是否贷款
99995,男,已婚,大专,40万,1,私营企业,C3,小米,基本,50000,否,是
99996,女,未婚,大专,5万,1,外商投资企业,C4,荣耀,基本,20000,是,否
99997,女,已婚,大专,10万,1,外商投资企业,C3,OPPO,基本,50000,是,否
99998,女,已婚,大专,10万,1,外商投资企业,C4,苹果,较低,50000,是,是
99999,男,已婚,大专,10万,1,股份制企业,C3,vivo,基本,10000,是,是

In [47]:
#True_result_df.shape()
total_df.head()

,年龄,近1个月交易次数,近1个月笔均交易金额,近3个月交易次数,近3个月笔均交易金额,近6个月交易次数,近6个月笔均交易金额,近12个月交易次数,近12个月笔均交易金额,近1个月人民币活期存款,...,近1个月个人贷款,近12个月行内总资产均值,近1个月行内总资产,近12个月收入总额,近6个月人民币定期存款余额均值,近12个月人民币定期存款余额均值,征信认定年收入,近3个月平均收入,近3个月平均支出,近3个月平均净收入（收入-支出）
0,65,8,236,775,592,184,226,122,778,140597,...,22637,3421,282852,2965888,654147,321262,108817,8459,1426,580478
1,65,3,149,803,661,108,161,122,751,101894,...,37904,6686,228287,1427034,591676,236010,86954,9936,1328,899123
2,68,5,220,868,929,173,182,188,980,109067,...,43135,2077,282867,2260092,712199,242831,93481,9244,1462,417861
3,70,5,247,432,758,128,131,133,558,141182,...,24243,4467,201001,2235795,751191,222176,98540,7019,1420,879418
4,62,8,107,718,816,161,200,101,799,101291,...,48265,3217,259453,1901095,954362,163385,106441,9390,1350,140804

In [36]:
total_df.head()

,年龄,近1个月交易次数,近1个月笔均交易金额,近3个月交易次数,近3个月笔均交易金额,近6个月交易次数,近6个月笔均交易金额,近12个月交易次数,近12个月笔均交易金额,近1个月人民币活期存款,...,近1个月个人贷款,近12个月行内总资产均值,近1个月行内总资产,近12个月收入总额,近6个月人民币定期存款余额均值,近12个月人民币定期存款余额均值,征信认定年收入,近3个月平均收入,近3个月平均支出,近3个月平均净收入（收入-支出）
0,27,1,94,34,7853,886,66134,3,146,8751,...,2743081,107077,135617,158016,859239,13739,501743,38603,2500,183926
1,26,1,28,29,1917,1999,63161,2,174,9732,...,1107996,139670,145622,177851,589064,14032,975132,34732,2123,414954
2,27,2,32,44,9667,316,28266,9,163,5204,...,2788589,100820,149984,148057,674287,12326,628014,32343,2314,183618
3,26,1,73,47,5556,934,50342,0,240,9138,...,1688877,137135,102210,143818,664788,15863,726177,33273,2079,279426
4,25,2,92,48,3441,801,26665,5,174,9480,...,2904329,142293,137022,165602,609329,18874,513511,40285,2084,490758

In [37]:
for columns in total_df:
    print(columns,total_df[columns].value_counts())
#pandas_profiling.ProfileReport(total_df[['近1个月交易次数']])

年龄 35     9898
25     7674
45     7179
40     5224
42     5167
39     5137
37     5131
44     5047
43     5042
38     5032
36     5029
41     4979
27     4813
33     4773
26     4741
29     4711
32     4699
30     4682
31     4672
28     4659
34     4654
60     4095
24     2950
22     2926
20     2890
18     2864
19     2834
21     2821
23     2783
70     2336
       ...
80      205
74      204
94      202
90      201
71      199
104     196
79      195
118     195
82      194
111     193
77      189
110     187
15      134
13      134
0       122
1       120
16      118
11      115
2       115
7       114
4       114
6       111
9       110
5       107
10      106
17      104
8       101
14       97
3        91
12       87
Name: 年龄, Length: 121, dtype: int64
近1个月交易次数 2      35439
3      29301
1      20983
0      15038
8      12141
6       6961
5       6884
4       6876
7       6689
15      6215
10      5311
14      5292
9       5268
12      5249
11      5237
13      5151
26      1108
19      1102
21      1094
29      1089
18      1083
17      1081
16      1075
25      1057
22      1055
20      1052
24      1052
23      1046
28      1042
30      1037
       ...
143       17
299       17
266       17
99        17
172       17
78        17
234       17
122       16
201       16
262       16
125       16
254       16
104       15
182       15
260       15
278       15
237       15
181       14
192       14
221       14
102       14
291       14
45        13
92        13
167       13
141       12
212       12
282       11
91        10
173        8
Name: 近1个月交易次数, Length: 301, dtype: int64
近1个月笔均交易金额 300      486
500      421
431      340
429      339
357      335
387      335
392      333
313      332
379      329
483      329
369      328
472      328
485      326
491      326
480      325
384      325
316      323
337      323
411      322
358      321
342      321
453      320
312      319
482      318
325      317
443      317
419      317
414      316
391      316
346      316
        ...
66554      1
75537      1
20540      1
73494      1
2103       1
61288      1
3567       1
68475      1
8242       1
63529      1
38949      1
92187      1
69652      1
98310      1
20412      1
52163      1
53100      1
51053      1
64453      1
34725      1
98202      1
60359      1
35787      1
1845       1
28131      1
14131      1
10033      1
12080      1
89886      1
56176      1
Name: 近1个月笔均交易金额, Length: 24205, dtype: int64
近3个月交易次数 6      13737
3      10446
10     10199
0       9791
8       7061
9       7006
4       6907
7       6811
5       6646
25      4700
1       3787
2       3699
21      3152
24      3112
23      3096
14      3077
20      3076
19      3076
18      3061
11      3060
13      3054
12      3026
16      3025
15      3025
17      3017
22      3008
50      2115
26      1815
46      1814
29      1794
       ...
395        2
948        2
299        2
312        2
368        2
818        2
225        2
555        2
632        2
353        2
915        2
830        2
243        2
887        2
211        2
718        2
448        2
985        2
671        2
251        2
529        2
644        2
786        2
942        1
141        1
104        1
752        1
171        1
356        1
257        1
Name: 近3个月交易次数, Length: 1001, dtype: int64
近3个月笔均交易金额 300      475
500      411
308      353
471      349
460      344
413      341
407      340
484      339
315      338
337      338
453      336
302      336
466      335
333      335
450      334
433      333
414      333
483      332
325      331
419      331
418      331
320      331
403      330
301      330
364      330
451      330
495      330
452      329
424      329
372      329
        ...
9023       1
46253      1
21681      1
21357      1
66971      1
5689       1
78657      1
44590      1
77342      1
79389      1
73240      1
1467       1
68422      1
30133      1
42415      1
56736      1
85394      1
2918       1
15676      1
5433       1
97096      1
50467      1
72984      1
91415      1
97556      1
87313      1
99595      1
11106      1
4965       1
73558      1
Name: 近3个月笔均交易金额, Length: 22495, dtype: int64
近6个月交易次数 10      7616
0       7301
5       6719
20      5071
8       4397
7       4323
6       4316
9       4290
19      3234
15      3216
18      3207
13      3197
17      3184
16      3161
12      3095
11      3082
14      3068
50      2594
4       2368
1       2358
3       2303
2       2269
22      1872
32      1846
39      1844
43      1837
37      1834
23      1830
38      1809
44      1809
        ...
1163       1
216        1
614        1
398        1
206        1
629        1
1312       1
1440       1
1751       1
1037       1
1844       1
781        1
397        1
1381       1
1313       1
1472       1
1420       1
1204       1
1653       1
357        1
1984       1
948        1
396        1
674        1
692        1
564        1
449        1
1252       1
1270       1
840        1
Name: 近6个月交易次数, Length: 1938, dtype: int64
近6个月笔均交易金额 300      435
500      420
429      331
362      323
398      321
309      319
393      318
430      316
404      313
498      311
304      309
370      308
447      306
402      306
355      305
317      303
336      302
344      302
319      300
382      300
443      299
414      299
325      298
391      298
492      298
385      297
335      297
301      297
358      297
378      296
        ...
12739      1
47698      1
41553      1
29259      1
31306      1
27208      1
4347       1
90601      1
92648      1
63962      1
59864      1
35284      1
18892      1
98633      1
10688      1
14530      1
96618      1
78179      1
57689      1
41297      1
20815      1
22862      1
72026      1
86255      1
73953      1
20687      1
30922      1
4295       1
43372      1
89876      1
Name: 近6个月笔均交易金额, Length: 23532, dtype: int64
近12个月交易次数 0       5910
20      3239
10      2915
50      2187
12      2160
17      2120
15      2119
18      2113
14      2102
13      2093
11      2062
16      2050
19      2045
100     1562
53      1199
91      1171
48      1159
92      1155
96      1150
31      1148
94      1147
67      1147
80      1146
26      1143
89      1143
70      1143
45      1142
23      1140
57      1136
44      1134
        ...
1447       1
3622       1
3797       1
1748       1
1620       1
1108       1
2473       1
2601       1
3028       1
1958       1
3543       1
1574       1
3748       1
1701       1
2903       1
2087       1
854        1
2215       1
726        1
2647       1
678        1
2727       1
598        1
934        1
2983       1
470        1
1190       1
2391       1
1446       1
2047       1
Name: 近12个月交易次数, Length: 3329, dtype: int64
近12个月笔均交易金额 300      508
500      404
357      360
461      356
320      353
331      347
482      346
398      346
485      342
360      342
442      342
477      341
497      340
428      338
434      337
344      335
460      334
338      333
448      333
390      332
467      332
458      330
304      330
307      330
321      329
455      329
487      329
494      328
472      328
334      327
        ...
21669      1
23716      1
70797      1
72844      1
85126      1
37949      1
54325      1
21797      1
75000      1
38222      1
2636       1
77322      1
81416      1
87557      1
34239      1
40380      1
12875      1
3502       1
63861      1
33146      1
32083      1
11690      1
15784      1
28066      1
81288      1
38205      1
62769      1
94660      1
18915      1
81392      1
Name: 近12个月笔均交易金额, Length: 20963, dtype: int64
近1个月人民币活期存款 3978       12
2434       12
772        12
2573       12
2720       12
3699       11
1027       11
1333       11
3364       11
1421       11
246        11
658        11
4511       11
4888       11
4427       11
4414       11
4915       11
3834       11
868        11
1013       11
3251       11
3119       10
2794       10
613        10
2561       10
93         10
1727       10
130        10
388        10
3306       10
           ..
27135       1
101097      1
296528      1
40531       1
46678       1
50776       1
54874       1
56923       1
29180       1
61021       1
477723      1
237107      1
99824       1
226862      1
101873      1
105971      1
108020      1
120314      1
124412      1
126461      1
134657      1
402948      1
415242      1
1990155     1
161294      1
171539      1
202274      1
470565      1
482859      1
175850      1
Name: 近1个月人民币活期存款, Length: 114182, dtype: int64
近3个月人民币活期存款 4062       12
1279       11
3457       11
3119       11
1983       10
4499       10
2186       10
56440      10
245        10
77724      10
3902       10
1703       10
4702       10
525        10
56605      10
343        10
4843       10
1950       10
3368       10
4170       10
3451       10
53166       9
4359        9
1079        9
2883        9
2126        9
3254        9
1698        9
70736       9
2884        9
           ..
138741      1
1232367     1
94592       1
116182      1
177632      1
476638      1
17854       1
21948       1
16500       1
32185       1
3511        1
8162        1
6115        1
20456       1
53240       1
52655       1
4507054     1
24554       1
124481      1
22507       1
32750       1
62888       1
1603567     1
38308       1
44451       1
48545       1
91546       1
69015       1
49142       1
188583      1
Name: 近3个月人民币活期存款, Length: 113755, dtype: int64
近6个月人民币活期存款余额均值 5000       13
2366       12
2135       12
7242       11
4334       11
3051       11
6746       11
1436       11
2031       11
2078       11
5329       11
260        10
1488       10
5279       10
900        10
4478       10
8553       10
281        10
8526       10
3683       10
791        10
4547       10
1036       10
64220      10
1800       10
4395       10
305        10
2161       10
4736       10
9293       10
           ..
68813       1
14685       1
140273      1
142320      1
320980      1
2475665     1
291100      1
4934620     1
2036695     1
4404179     1
4428743     1
1657625     1
3456493     1
17341       1
62379       1
81099       1
10591       1
119136      1
7094        1
949         1
115042      1
13235       1
19453       1
23551       1
11184       1
54191       1
129381      1
123238      1
52140       1
16056       1
Name: 近6个月人民币活期存款余额均值, Length: 114158, dtype: int64
近12个月人民币活期存款余额均值 5683       12
8452       12
4230       12
6864       10
62824      10
6961       10
8914       10
7715       10
2507       10
9901        9
8175        9
5883        9
8872        9
2265        9
5134        9
9075        9
5447        9
922         9
6868        9
1953        9
386         9
9419        9
7789        9
4593        9
16039       9
8680        9
8943        9
37750       9
8417        9
9518        9
           ..
49874       1
60119       1
37592       1
39641       1
346851      1
92903       1
342765      1
74478       1
115442      1
3908286     1
254646      1
295923      1
98938       1
4813412     1
96869       1
72297       1
68203       1
4846196     1
123510      1
105081      1
111228      1
223911      1
154241      1
284581      1
408205      1
4510806     1
195221      1
432793      1
305770      1
279558      1
Name: 近12个月人民币活期存款余额均值, Length: 113617, dtype: int64
近1个月人民币定期存款余额 54478     10
62601     10
10600     10
60869      9
31351      9
60694      9
65221      9
17874      9
23343      9
79073      9
56296      9
78646      8
63235      8
28286      8
50331      8
73124      8
25806      8
75920      8
55415      8
74034      8
14804      8
62365      8
76506      8
63395      8
60088      8
59244      8
59611      8
62366      8
63620      8
68208      8
          ..
32812      1
338128     1
327383     1
24624      1
26673      1
28722      1
234394     1
250770     1
93125      1
69662      1
95174      1
97223      1
145405     1
143358     1
383955     1
124929     1
126978     1
114692     1
118790     1
12920      1
106504     1
471469     1
98316      1
209234     1
119762     1
115664     1
83989      1
348182     1
74700      1
75529      1
Name: 近1个月人民币定期存款余额, Length: 129099, dtype: int64
近3个月人民币定期存款余额均值 64010      10
69162       9
78197       9
66272       9
72489       9
65526       8
58369       8
62328       8
12745       8
17484       8
58780       8
78593       8
62890       8
76992       8
60665       8
63550       8
54040       8
73634       8
56359       7
62981       7
63411       7
79744       7
77034       7
67878       7
60507       7
62291       7
63057       7
67968       7
52765       7
55641       7
           ..
331364      1
380633      1
71271       1
97898       1
85612       1
1605        1
253502      1
137387      1
425482      1
124409      1
130554      1
128507      1
116221      1
122366      1
130482      1
132613      1
138758      1
136711      1
15116       1
247357      1
8515615     1
173585      1
4924961     1
210467      1
334101      1
740908      1
371093      1
495156      1
230965      1
907907      1
Name: 近3个月人民币定期存款余额均值, Length: 130594, dtype: int64

客户级信用额度 999999999    96000
7174            19
5350            19
4613            18
5695            18
5292            18
5322            17
5066            17
4450            17
4749            16
4603            16
5180            16
4609            16
5917            16
5328            16
8728            16
4161            16
5877            16
5661            16
5594            16
5605            16
6000            16
4815            16
8818            16
4529            16
5145            15
4650            15
5056            15
9396            15
5635            15
             ...
314039           1
195843           1
37564            1
33470            1
35519            1
434938           1
29472            1
99564            1
27427            1
44361            1
23205            1
36173            1
43579            1
11609            1
21846            1
30034            1
6701             1
27985            1
25936            1
40271            1
37436            1
25250            1
33342            1
38222            1
258640           1
494175           1
457329           1
332428           1
29344            1
295445           1
Name: 客户级信用额度, Length: 41494, dtype: int64
近1个月个人贷款 7385        13
8615        13
32          13
5419        13
7521        13
3111        12
5464        12
2191        12
435         12
489         12
4845        12
8768        12
2955        12
5580        12
7625        12
6197        12
5454        12
8706        12
4959        12
6188        12
9473        12
653         12
2105        12
9102        11
278         11
8360        11
6939        11
3267        11
7910        11
7852        11
            ..
1378162      1
597873       1
51696        1
647017       1
876409       1
907112       1
27476400     1
2656832      1
364387       1
368481       1
28511        1
66413        1
643373       1
670050       1
184203       1
19294110     1
153496       1
409493       1
659347       1
2031501      1
877047       1
1748871      1
85883        1
68460        1
692099       1
169856       1
880511       1
884605       1
588351       1
0            1
Name: 近1个月个人贷款, Length: 157319, dtype: int64
近12个月行内总资产均值 6716       8
128669     8
2047       7
143154     7
2747       7
7496       7
4303       7
6719       7
6060       7
128658     7
135527     7
9752       7
136118     7
141828     7
4774       7
1119       7
118335     7
3694       7
110649     6
102479     6
6706       6
502        6
1363       6
9771       6
114494     6
4399       6
61128      6
9558       6
2605       6
110239     6
          ..
69482      1
281146     1
259893     1
196372     1
431897     1
165659     1
440093     1
2335707    1
751397     1
225062     1
223015     1
198443     1
210733     1
470830     1
261940     1
233274     1
94054      1
20290      1
8008       1
5961       1
395505     1
12110      1
150098     1
57168      1
589652     1
61270      1
38745      1
34651      1
9783139    1
639364     1
Name: 近12个月行内总资产均值, Length: 151008, dtype: int64
近1个月行内总资产 6922      10
4119       9
2350       8
8520       8
8657       8
19362      8
9803       8
3237       8
1136       8
1103       8
2941       8
9333       8
103520     8
3805       7
5257       7
14018      7
117539     7
8200       7
124052     7
1207       7
1265       7
4339       7
6873       7
6093       7
6888       7
3154       7
3292       7
3703       7
6198       7
5819       7
          ..
182424     1
196769     1
292265     1
6254       1
77927      1
79974      1
36947      1
4163       1
53367      1
270405     1
573557     1
280648     1
22602      1
269016     1
290895     1
34896      1
32849      1
277920     1
73829      1
644419     1
831575     1
319601     1
573529     1
53339      1
57437      1
63582      1
65633      1
71778      1
338020     1
280119     1
Name: 近1个月行内总资产, Length: 145097, dtype: int64
近12个月收入总额 58021     12
58713     12
54598     12
50453     12
54992     11
58650     11
56388     11
53456     11
56156     11
55672     11
56873     11
51459     11
51604     11
56424     11
58609     11
54685     11
54558     11
53055     11
53128     10
55128     10
51287     10
52651     10
51138     10
54553     10
59236     10
50739     10
51496     10
56630     10
57907     10
54374     10
          ..
63445      1
303064     1
38873      1
36826      1
47069      1
85986      1
216994     1
186257     1
1867       1
143246     1
57168      1
65364      1
63317      1
61270      1
38745      1
34651      1
96101      1
67435      1
79725      1
122736     1
100219     1
114556     1
108415     1
155520     1
161669     1
159622     1
139144     1
137097     1
46270      1
4098       1
Name: 近12个月收入总额, Length: 122234, dtype: int64
近6个月人民币定期存款余额均值 1000000    4000
66243        10
68804        10
74532         9
63698         9
71848         9
66465         9
71781         9
56137         9
77389         9
77098         9
63474         9
76280         9
66051         9
54828         8
53173         8
51655         8
11926         8
65140         8
74755         8
74789         8
78513         8
72522         8
54059         8
72535         8
79578         8
74678         8
56523         8
64378         8
60094         8
           ...
469901        1
205708        1
744323        1
28598         1
82835         1
43901         1
1979          1
39803         1
754584        1
234394        1
398968        1
53154         1
106376        1
102282        1
110478        1
108431        1
614288        1
87953         1
412577        1
98196         1
96149         1
87822         1
350499        1
71577         1
67483         1
81820         1
341917        1
77726         1
75679         1
12486         1
Name: 近6个月人民币定期存款余额均值, Length: 127117, dtype: int64
近12个月人民币定期存款余额均值 1000000    6000
63760        10
51280         9
63945         9
55617         9
53149         8
62972         8
53645         8
58962         8
64807         8
55506         8
72019         8
50272         8
68809         8
65229         8
12707         8
63106         8
50375         8
66520         8
51361         8
65943         8
14323         8
61022         8
57023         8
59933         8
59436         8
64785         8
76233         8
57427         8
56239         8
           ...
29122         1
16836         1
18885         1
8648          1
10697         1
14795         1
106872        1
121207        1
119158        1
117109        1
24896         1
31043         1
18757         1
22855         1
12618         1
14667         1
332           1
57680         1
59729         1
63827         1
49492         1
33116         1
301407        1
86374         1
88423         1
76137         1
78186         1
125297        1
129395        1
2049          1
Name: 近12个月人民币定期存款余额均值, Length: 123728, dtype: int64
征信认定年收入 999999999    48000
57795            7
78555            7
196247           7
64554            6
94302            6
112299           6
53157            6
106919           6
94101            6
86768            6
95231            6
61031            6
59190            6
59925            6
65460            6
51837            6
73842            6
143974           6
68921            6
76116            6
60834            6
113240           6
53172            6
74055            6
58551            6
116326           6
66166            6
82251            6
75739            6
             ...
272203           1
8394573          1
197642           1
327504           1
982800           1
403211           1
98016            1
145161           1
91875            1
89828            1
85734            1
83687            1
79593            1
77546            1
599787           1
855790           1
130800           1
124659           1
382709           1
118518           1
116471           1
198045           1
634618           1
108283           1
102142           1
137821           1
157443           1
356279           1
409352           1
4098             1
Name: 征信认定年收入, Length: 117586, dtype: int64
近3个月平均收入 9713      35
8367      34
9151      33
7776      33
8769      32
9745      32
9358      31
8340      31
8797      31
8205      31
7170      31
8137      31
7000      31
7984      31
9489      30
9615      30
9841      30
7703      30
9038      30
9899      30
8817      30
7300      30
9480      29
8436      29
8270      29
7772      29
8703      29
8639      29
9049      29
8705      29
          ..
201920     1
328962     1
81141      1
347387     1
21928      1
134419     1
34114      1
36163      1
30044      1
32093      1
27999      1
191887     1
226636     1
44343      1
36147      1
38336      1
40241      1
40385      1
34242      1
44487      1
23849      1
320974     1
30172      1
15653      1
26078      1
28127      1
120296     1
116202     1
355599     1
41044      1
Name: 近3个月平均收入, Length: 42636, dtype: int64
近3个月平均支出 1200     271
1500     234
1483     184
1328     179
1324     175
1377     174
1437     174
1257     173
1219     173
1339     171
1462     170
1320     169
1333     169
1321     169
1440     168
1342     168
1228     168
1470     168
1234     168
1449     167
1208     167
1230     166
1372     166
1408     166
1337     166
1380     166
1442     165
1452     165
1267     164
1498     164
        ...
22701      1
5481       1
18387      1
22447      1
24494      1
28390      1
16290      1
17070      1
13088      1
8408       1
23725      1
15905      1
34230      1
21217      1
14276      1
13037      1
21345      1
11555      1
15649      1
24784      1
32979      1
31716      1
27691      1
22600      1
9199       1
23648      1
18634      1
29480      1
27750      1
33593      1
Name: 近3个月平均支出, Length: 6366, dtype: int64
近3个月平均净收入（收入-支出） 18252     24
19714     22
22584     22
21623     21
19122     21
18219     21
18554     20
18357     20
18478     20
18731     19
23909     19
21717     19
23867     19
18034     19
18330     18
23284     18
23359     18
20548     18
18729     18
21482     18
18294     18
19524     18
24000     18
19724     18
19181     18
23238     18
23489     18
23770     18
22762     18
21886     18
          ..
10052      1
193        1
814925     1
556879     1
55130      1
63326      1
65375      1
79718      1
6082       1
8131       1
49111      1
53209      1
55258      1
57307      1
63454      1
73699      1
10506      1
360431     1
716831     1
8261       1
30798      1
38994      1
36947      1
47190      1
55386      1
71778      1
79974      1
77927      1
84072      1
0          1
Name: 近3个月平均净收入（收入-支出）, Length: 59201, dtype: int64

In [ ]:
                         

true_result_df=create_column_randomsample(True_column_random_dict)
true_result_number_df=create_number_randomsample(True_number_random_dict)

True_combin_df=true_result_df.merge(true_result_number_df,left_index=True, right_index=True)



#True_combin_df=True_combin_df.merge(pd.DataFrame(sample_true[['id','owner_city']]),left_index=True, right_index=True)
#True_combin_df.rename(columns={'owner_city':'籍贯'},inplace=True)

                            
                                
'''
True_combin_df['target']=1


False_result_df=create_column_randomsample(False_column_random_dict)
False_result_number_df=create_number_randomsample(False_number_random_dict)
False_combin_df=False_result_df.merge(False_result_number_df,left_index=True, right_index=True)
#False_combin_df=False_combin_df.merge(pd.DataFrame(sample_false[['id','owner_city']]),left_index=True, right_index=True)
#False_combin_df.rename(columns={'owner_city':'籍贯'},inplace=True)
False_combin_df['target']=0

total_comple=True_combin_df.append(False_combin_df).reset_index(drop=True)

#total_comple=total_comple[['id','性别','年龄','籍贯','婚姻状况','学历','征信认定年收入','社会保障','客户级信用额度','美元账户额度','CRM评级结果','客户评级结果','借记卡层级','附卡卡数','存款期限','是否为低保户','受否贫困户','行业','职业','零售潜在客户','理财产品风险等级','手机品牌','基金风险等级','理财产品是否保本','客户风险承受能力等级','电子渠道购买标志','贷款放款本金','账户余额','贷款期数','剩余贷款本金','购买金额_事件表','数量_事件表','可用余额_事件表','分期金额_事件表','贷款期限_事件表','未还本金_事件表','偿还金额_事件表','金额_事件表','交易金额_交易日志表','产品万份收益_基金产品','车产价值_字典列表','房产价值_字典列表','交易金额_交易往来','存期_交易账务','交易金额_交易账务','行内总资产_资产负债','行内总负债_资产负债','本外币存款_资产负债','人民币活期存款_资产负债','人民币定期存款_资产负债','本外币理财_资产负债','人民币理财_资产负债','万利宝理财_资产负债','保本型理财_人民币_资产负债','结构性存款_人民币_资产负债','兴业宝资产_资产负债','综合金融资产_资产负债','券商集合理财_资产负债','保险_资产负债','个人贷款_资产负债','个人购房按揭贷款_资产负债','个人委托贷款_资产负债','个人消费贷款_资产负债','target']]
total_comple=total_comple[['性别','年龄','婚姻状况','学历','开户日期','征信认定年收入','社会保障','客户级信用额度','美元账户额度','CRM评级结果','客户评级结果','借记卡层级','附卡卡数','存款期限','是否为低保户','受否贫困户','行业','职业','零售潜在客户','理财产品风险等级','手机品牌','基金风险等级','理财产品是否保本','客户风险承受能力等级','电子渠道购买标志','贷款放款本金','账户余额','贷款期数','剩余贷款本金','购买金额_事件表','数量_事件表','可用余额_事件表','分期金额_事件表','贷款期限_事件表','未还本金_事件表','偿还金额_事件表','金额_事件表','交易金额_交易日志表','产品万份收益_基金产品','车产价值_字典列表','房产价值_字典列表','交易金额_交易往来','存期_交易账务','交易金额_交易账务','行内总资产_资产负债','行内总负债_资产负债','本外币存款_资产负债','人民币活期存款_资产负债','人民币定期存款_资产负债','本外币理财_资产负债','人民币理财_资产负债','万利宝理财_资产负债','保本型理财_人民币_资产负债','结构性存款_人民币_资产负债','兴业宝资产_资产负债','综合金融资产_资产负债','券商集合理财_资产负债','保险_资产负债','个人贷款_资产负债','个人购房按揭贷款_资产负债','个人委托贷款_资产负债','个人消费贷款_资产负债','target']]


# 生成随机日期函数：
import datetime
def create_random_date(rowdata):
    #print (datetime.datetime.now()+datetime.timedelta(days=-1)).strftime("%Y-%m-%d %H:%M:%S")
    #print(datetime.datetime.now()+datetime.timedelta(days=rowdata['开户日期']).strftime("%Y-%m-%d"))
    print((datetime.datetime.now()-datetime.timedelta(days=rowdata['开户日期'])).strftime("%Y-%m-%d"))
    return (datetime.datetime.now()-datetime.timedelta(days=rowdata['开户日期'])).strftime("%Y-%m-%d")
total_comple['开户日期']=total_comple.apply(create_random_date,axis=1)
'''

In [135]:
total_comple.head()

,性别,年龄,婚姻状况,学历,开户日期,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,...,结构性存款_人民币_资产负债,兴业宝资产_资产负债,综合金融资产_资产负债,券商集合理财_资产负债,保险_资产负债,个人贷款_资产负债,个人购房按揭贷款_资产负债,个人委托贷款_资产负债,个人消费贷款_资产负债,target
0,男,12,未婚,大专,1999-08-15,5万,0,20000,0,核心,...,49405,23432,25468,10041,4184,78639,376452,12277,5605,1
1,女,25,已婚,初中中专,2019-09-17,10万,1,50000,0,普通,...,39884,18805,14512,7880,3957,80815,379467,11764,3858,1
2,男,-10,未婚,大专,2015-03-27,5万,0,10000,0,普通,...,50171,11834,11639,9109,4451,66963,295913,18028,5434,1
3,男,20,已婚,大专,2002-10-13,10万,1,30000,0,核心,...,44882,19946,9732,10432,4529,70032,510295,14891,4267,1
4,男,19,已婚,大专,2003-02-18,5万,0,50000,0,普通,...,44677,15478,12109,9432,4324,72221,343757,18678,5915,1

In [136]:
# 对样本数据进行处理，将负值修改为0

random_columns_list=['贷款放款本金','账户余额','贷款期数','剩余贷款本金','购买金额_事件表','数量_事件表','可用余额_事件表','分期金额_事件表','贷款期限_事件表','未还本金_事件表','偿还金额_事件表','金额_事件表','交易金额_交易日志表','产品万份收益_基金产品','车产价值_字典列表','房产价值_字典列表','交易金额_交易往来','存期_交易账务','交易金额_交易账务','行内总资产_资产负债','行内总负债_资产负债','本外币存款_资产负债','人民币活期存款_资产负债','人民币定期存款_资产负债','本外币理财_资产负债','人民币理财_资产负债','万利宝理财_资产负债','保本型理财_人民币_资产负债','结构性存款_人民币_资产负债','兴业宝资产_资产负债','综合金融资产_资产负债','券商集合理财_资产负债','保险_资产负债','个人贷款_资产负债','个人购房按揭贷款_资产负债','个人委托贷款_资产负债','个人消费贷款_资产负债']


def deal_zero_value(rowdata,column):
    if rowdata[column]<0:
        return 0
    else:
        return rowdata[column]
    
    
for random_colum in random_columns_list:    
    total_comple[random_colum]=total_comple.apply(deal_zero_value,axis=1, args = (random_colum,))

In [137]:
display(True_combin_df.head(),False_combin_df.head(),total_comple.tail())
print(total_comple.shape,True_combin_df.shape,False_combin_df.shape,total_comple.columns)

,性别,婚姻状况,学历,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,客户评级结果,借记卡层级,...,兴业宝资产_资产负债,综合金融资产_资产负债,券商集合理财_资产负债,保险_资产负债,个人贷款_资产负债,个人购房按揭贷款_资产负债,个人委托贷款_资产负债,个人消费贷款_资产负债,开户日期,target
0,男,未婚,大专,5万,0,20000,0,核心,C5,金卡,...,23432,25468,10041,4184,78639,376452,12277,5605,7446.714355,1
1,女,已婚,初中中专,10万,1,50000,0,普通,C1,金卡,...,18805,14512,7880,3957,80815,379467,11764,3858,108.866684,1
2,男,未婚,大专,5万,0,10000,0,普通,C3,普卡,...,11834,11639,9109,4451,66963,295913,18028,5434,1744.237549,1
3,男,已婚,大专,10万,1,30000,0,核心,C2,白金,...,19946,9732,10432,4529,70032,510295,14891,4267,6292.313477,1
4,男,已婚,大专,5万,0,50000,0,普通,C4,普卡,...,15478,12109,9432,4324,72221,343757,18678,5915,6164.348145,1

,性别,婚姻状况,学历,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,客户评级结果,借记卡层级,...,兴业宝资产_资产负债,综合金融资产_资产负债,券商集合理财_资产负债,保险_资产负债,个人贷款_资产负债,个人购房按揭贷款_资产负债,个人委托贷款_资产负债,个人消费贷款_资产负债,开户日期,target
0,男,已婚,小学,40万,1,10000,0,普通,C3,普卡,...,11747,9048,9531,929,47535,213117,6595,22222,1088.429199,0
1,女,未婚,大专,5万,1,10000,0,准核心,C2,白金,...,7289,12950,8118,861,48017,162023,11036,9673,1220.908081,0
2,女,已婚,高中中专,5万,0,20000,0,普通,C4,普卡,...,15520,9893,7520,767,53450,151895,10159,-3269,957.995117,0
3,男,未婚,高中中专,5万,1,10000,0,普通,C3,普卡,...,8076,9410,4284,487,45945,103304,6625,-11558,1077.512817,0
4,女,未婚,高中中专,5万,1,10000,0,普通,C3,白金,...,13992,13881,4240,786,55331,176267,10152,-4469,689.687500,0

,性别,年龄,婚姻状况,学历,开户日期,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,...,结构性存款_人民币_资产负债,兴业宝资产_资产负债,综合金融资产_资产负债,券商集合理财_资产负债,保险_资产负债,个人贷款_资产负债,个人购房按揭贷款_资产负债,个人委托贷款_资产负债,个人消费贷款_资产负债,target
99995,男,29,已婚,高中中专,2017-03-30,10万,1,20000,0,普通,...,41915,15396,9325,5536,906,50827,82965,11304,9481,0
99996,男,37,未婚,高中,2017-10-11,10万,1,5000,0,核心,...,25032,24468,12483,5174,1037,48866,183879,8211,0,0
99997,男,25,未婚,高中中专,2017-03-30,10万,0,10000,0,普通,...,27005,18522,9303,6758,721,54899,182742,10197,8090,0
99998,女,29,未婚,高中中专,2016-12-19,10万,1,50000,0,普通,...,45068,12262,5797,4672,1036,52021,243886,9382,613,0
99999,男,9,未婚,大专,2017-05-14,5万,0,5000,0,准核心,...,35195,13049,12545,4444,1359,47716,170418,9210,19285,0

(100000, 63) (50000, 63) (50000, 63) Index(['性别', '年龄', '婚姻状况', '学历', '开户日期', '征信认定年收入', '社会保障', '客户级信用额度',
       '美元账户额度', 'CRM评级结果', '客户评级结果', '借记卡层级', '附卡卡数', '存款期限', '是否为低保户',
       '受否贫困户', '行业', '职业', '零售潜在客户', '理财产品风险等级', '手机品牌', '基金风险等级', '理财产品是否保本',
       '客户风险承受能力等级', '电子渠道购买标志', '贷款放款本金', '账户余额', '贷款期数', '剩余贷款本金',
       '购买金额_事件表', '数量_事件表', '可用余额_事件表', '分期金额_事件表', '贷款期限_事件表', '未还本金_事件表',
       '偿还金额_事件表', '金额_事件表', '交易金额_交易日志表', '产品万份收益_基金产品', '车产价值_字典列表',
       '房产价值_字典列表', '交易金额_交易往来', '存期_交易账务', '交易金额_交易账务', '行内总资产_资产负债',
       '行内总负债_资产负债', '本外币存款_资产负债', '人民币活期存款_资产负债', '人民币定期存款_资产负债',
       '本外币理财_资产负债', '人民币理财_资产负债', '万利宝理财_资产负债', '保本型理财_人民币_资产负债',
       '结构性存款_人民币_资产负债', '兴业宝资产_资产负债', '综合金融资产_资产负债', '券商集合理财_资产负债', '保险_资产负债',
       '个人贷款_资产负债', '个人购房按揭贷款_资产负债', '个人委托贷款_资产负债', '个人消费贷款_资产负债', 'target'],
      dtype='object')

In [138]:
total_comple.to_excel('d:/上海兴业银行样本数据集.xlsx',index=None)

In [ ]:
# 生成随机日期函数：
import
def create_random_date(rowdata):
    print(rowdata.)

In [8]:
True_combin_df.head()

,性别,婚姻状况,学历,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,客户评级结果,借记卡层级,...,存款期限,是否为低保户,受否贫困户,年龄,贷款放款本金,账户余额,贷款期数,剩余贷款本金,id,籍贯
0,女,未婚,本科,5万,1,20000,小于0,核心,C4,普卡,...,6个月,否,否,10,539739,-7114,123,404910,13013302938,联通联通
1,男,已婚,大专,20万,1,20000,大于0,核心,C4,金卡,...,1年,否,否,48,807197,74019,63,404393,13022062073,NaN
2,男,已婚,高中中专,5万,1,10000,小于0,核心,C6,白金,...,1年,否,否,11,679981,216705,117,63766,13035901978,NaN
3,男,已婚,高中,5万,1,50000,小于0,核心,C1,白金,...,5年,否,否,30,498424,185155,201,330451,13042151031,NaN
4,男,已婚,大专,10万,1,50000,小于0,核心,C1,普卡,...,5年,否,否,12,511549,115947,-6,326409,13045173577,NaN

In [21]:
combin_df[['id','性别','籍贯','婚姻状况','学历','征信认定年收入','社会保障','客户级信用额度','美元账户额度','CRM评级结果','客户评级结果','借记卡层级','账户余额','剩余贷款本金']].to_excel('d:\上海兴业银行样本造数.xlsx',index=None)

In [164]:
display(true_result_df.head(),true_result_number_df.head())

,性别,婚姻状况,学历,征信认定年收入,社会保障,客户级信用额度,美元账户额度,CRM评级结果,客户评级结果,借记卡层级,附卡卡数,存款期限,是否为低保户,受否贫困户
0,男,已婚,大专,5万,1,30000,小于0,普通,C3,黑金,4,1年,否,否
1,男,已婚,高中,10万,1,30000,小于0,准核心,C3,普卡,0,3个月,否,否
2,女,已婚,本科,5万,0,20000,小于0,普通,C4,普卡,3,1年,否,否
3,男,已婚,大专,10万,1,20000,小于0,普通,C3,金卡,1,2年,否,否
4,女,已婚,小学,5万,1,20000,小于0,普通,C3,白金,0,5年,否,否

   年龄  贷款放款本金  账户余额  贷款期数  剩余贷款本金
0  37  691320     8   317  445082
1  15  645061    29    49  196353
2  19  579867    29   157  368844
3  10  667989    34    33  329207
4  30  566405    51   118  330431

In [12]:
pd.DataFrame

,id,target,card_type,netlong,owner_city,arpu,out_prdct_fee,prdct_fee,point_fee,myth_fee,...,age,adis,arpu_avg,myth_fee_avg,out_prdct_fee_avg,prdct_fee_avg,os,battery_capacity,storage,screen_size
97032,18746191488,1,1.0,37.0,黑龙江哈尔滨,45.32,6.48,29.0,0.0,0.0,...,NaN,1.0,45.320000,0.0,6.480000,29.000000,NaN,NaN,NaN,NaN
29750,13769713610,1,0.0,NaN,云南曲靖,115.70,0.00,0.0,0.0,0.0,...,NaN,NaN,115.099998,0.0,NaN,0.000000,4.0,2920mAH,16GB/32GB,5.0
36394,13838040676,1,1.0,NaN,河南郑州,143.20,0.20,135.0,9951.0,0.0,...,NaN,1.0,148.810003,0.0,0.200000,135.000000,4.0,3000mAh,32GB,5.5
79629,15945389676,1,0.0,30.0,黑龙江牡丹江,60.99,1.00,90.0,0.0,0.0,...,NaN,NaN,60.990002,0.0,1.000000,90.000000,4.0,3000mAh,16GB,5.7
40228,13888246777,1,1.0,NaN,云南昆明,258.00,0.00,0.0,0.0,0.0,...,NaN,NaN,258.000000,0.0,NaN,0.000000,3.0,1715mAh,16GB/64GB/128GB,4.7
82230,15980726225,1,1.0,NaN,福建福州,78.00,0.00,62.0,0.0,0.0,...,35.0,NaN,91.333333,0.0,NaN,75.333333,4.0,2300mAh,16GB,5.0
62550,15217163366,1,2.0,50.0,广东珠海,55.12,0.00,28.0,0.0,0.0,...,NaN,NaN,54.293334,0.0,NaN,28.000000,4.0,3100mAh,8GB,5.5
99664,18811186422,1,1.0,43.0,北京北京,118.00,0.00,118.0,0.0,0.0,...,NaN,NaN,118.224998,0.0,NaN,118.000000,4.0,3000mAh,16GB,5.5
93368,18374069022,1,0.0,44.0,湖南株洲,31.49,0.00,0.0,0.0,0.0,...,NaN,NaN,22.496667,0.0,NaN,0.000000,NaN,NaN,NaN,NaN
13231,13580829297,1,0.0,NaN,广东东莞,178.00,0.00,173.0,0.0,0.0,...,NaN,NaN,176.866669,0.0,NaN,171.333333,4.0,3750mAh,64GB/128GB/256GB,5.5
50248,15003597752,1,0.0,NaN,山西运城,8.10,0.10,8.0,408.0,0.0,...,NaN,NaN,14.826667,0.0,0.160000,8.000000,4.0,2920mAH,32GB,5.0
21605,13672713333,1,0.0,NaN,广东珠海,118.76,0.00,63.0,0.0,0.0,...,NaN,NaN,105.693334,0.0,NaN,63.000000,4.0,4000mAh,128GB,5.7
15425,13602989303,1,0.0,NaN,广东肇庆,121.00,0.00,111.0,0.0,0.0,...,NaN,NaN,141.486669,0.0,NaN,124.333333,3.0,3470mAh,32GB,4.0
85395,18128373968,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29736,13769461052,1,1.0,NaN,云南红河,169.80,0.00,0.0,0.0,0.0,...,NaN,NaN,183.586670,0.0,NaN,0.000000,4.0,2900mAH,64GB,5.5
57551,15118650080,1,3.0,NaN,广东佛山,128.10,0.00,118.0,0.0,0.0,...,NaN,NaN,128.422501,0.0,NaN,118.000000,4.0,2400mAh,32GB,5.2
26250,13723405448,1,0.0,NaN,广东深圳,185.10,0.00,158.0,0.0,0.0,...,NaN,NaN,184.600001,0.0,NaN,158.000000,4.0,3010mAh,64GB,5.5
66805,15702956415,1,0.0,18.0,陕西西安,100.20,0.00,98.0,0.0,0.0,...,NaN,1.0,99.233332,0.0,NaN,98.000000,NaN,NaN,NaN,NaN
24009,13700074979,1,1.0,NaN,辽宁盘锦,128.00,0.00,178.0,3499.0,0.0,...,NaN,NaN,128.950002,0.0,NaN,178.000000,4.0,3000mAh,16GB,5.5
77370,15914571530,1,3.0,NaN,广东佛山,65.98,0.00,58.0,0.0,0.0,...,27.0,NaN,63.185001,0.0,NaN,54.250000,3.0,1800mAh,16GB/64GB/128GB,5.5
87546,18245335945,1,0.0,57.0,黑龙江牡丹江,48.35,24.35,19.0,7915.0,0.0,...,NaN,NaN,63.280000,0.0,39.280001,19.000000,4.0,2850mAh,64GB,5.5
74429,15868988798,1,0.0,NaN,浙江金华,255.10,0.10,171.0,0.0,0.0,...,NaN,NaN,255.166672,0.0,0.133333,171.000000,4.0,2820mAH,NaN,5.2
12970,13577321585,1,1.0,NaN,云南红河,124.10,0.00,0.0,0.0,0.0,...,NaN,NaN,236.366666,0.0,NaN,0.000000,4.0,1900mAh,4GB,4.5
4708,13466264613,1,0.0,NaN,云南红河,83.69,0.00,0.0,0.0,0.0,...,NaN,NaN,109.896667,0.0,NaN,0.000000,4.0,2000mAh,4GB,5.0
81946,15976516502,1,0.0,NaN,广东茂名,145.00,0.00,145.0,0.0,0.0,...,NaN,NaN,156.990000,0.0,NaN,145.000000,NaN,NaN,NaN,NaN
48904,13997679315,1,1.0,NaN,湖北宜昌,15.00,0.00,15.0,217.0,0.0,...,NaN,NaN,16.033333,0.0,1.033333,15.000000,4.0,2300mAh,4GB,5.0
25189,13711649044,1,0.0,NaN,广东广州,27.77,0.00,26.0,0.0,0.0,...,NaN,NaN,27.080000,0.0,NaN,26.000000,4.0,3010mAh,64GB,5.5
76942,15906034326,1,0.0,NaN,福建泉州,138.10,0.00,138.0,0.0,0.0,...,NaN,NaN,138.033335,0.0,NaN,138.000000,4.0,2850mAh,64GB,5.5
87853,18251671119,1,0.0,25.0,江苏徐州,46.10,0.00,0.0,0.0,0.0,...,NaN,NaN,46.066666,0.0,NaN,0.000000,1.0,1500mAh,256MB,2.3
74794,15873912998,1,0.0,NaN,湖南邵阳,105.40,0.00,0.0,0.0,0.0,...,NaN,NaN,108.383334,0.0,NaN,0.000000,3.0,2000mAh,4GB,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6096,13503264090,0,1.0,NaN,河北廊坊,80.00,0.00,80.0,257.0,0.0,...,NaN,NaN,80.266665,0.0,NaN,80.000000,4.0,1710mAh,4GB,4.0
72454,15842757090,0,1.0,NaN,辽宁盘锦,34.45,0.00,18.0,1250.0,0.0,...,NaN,NaN,27.823334,0.0,NaN,18.000000,NaN,NaN,NaN,NaN
95379,18710559868,0,0.0,NaN,陕西西安,40.24,0.00,54.0,0.0,0.0,...,NaN,NaN,63.910000,0.0,NaN,71.936666,4.0,3075mAh,32GB,5.5
48156,13980828752,0,1.0,48.0,四川成都,24.00,0.00,18.0,0.0,0.0,...,NaN,NaN,24.033333,0.0,0.033333,18.000000,99.0,850mAh,NaN,1.5
95181,18705187080,0,1.0,31.0,江苏南京,26.93,0.00,0.0,0.0,0.0,...,NaN,NaN,34.113334,0.0,NaN,0.000000,4.0,1800mAh,8GB,5.0
37571,13854718328,0,1.0,NaN,山东济宁,27.30,0.00,25.0,0.0,0.0,...,30.0,NaN,25.066666,0.0,NaN,25.000000,4.0,2100mAh,16GB,5.0
17128,13622302392,0,3.0,15.0,广东深圳,58.00,0.00,58.0,0.0,0.0,...,NaN,NaN,59.110001,0.0,NaN,58.000000,99.0,NaN,NaN,2.0
2187,13423486289,0,0.0,11.0,广东东莞,9.00,0.00,9.0,0.0,0.0,...,NaN,NaN,9.000000,0.0,NaN,9.000000,NaN,NaN,NaN,NaN
41448,13907332121,0,1.0,NaN,湖南株洲,60.00,0.00,0.0,0.0,0.0,...,NaN,NaN,60.300001,0.0,NaN,0.000000,4.0,1510mAh,16GB,5.0
43135,13923943843,0,0.0,NaN,广东汕头,27.00,0.00,8.0,0.0,0.0,...,NaN,NaN,17.033333,0.0,NaN,8.000000,4.0,3100mAh,16GB,5.5
46751,13962396991,0,0.0,NaN,江苏苏州,23.90,0.00,0.0,538.0,0.0,...,NaN,NaN,23.600000,0.0,NaN,0.000000,3.0,1715mAh,16GB/32GB/64GB/128GB,4.7
76836,15904596684,0,0.0,NaN,黑龙江大庆,31.15,2.15,19.0,2635.0,0.0,...,NaN,NaN,32.146667,0.0,1.933333,20.666667,NaN,NaN,NaN,NaN
68383,15759867265,0,0.0,NaN,福建泉州,23.70,0.00,18.0,0.0,0.0,...,NaN,NaN,21.356667,0.0,NaN,18.000000,4.0,2400mAh,32GB,5.2
64616,15252992061,0,1.0,NaN,江苏镇江,115.76,0.00,0.0,2606.0,0.0,...,NaN,NaN,118.893333,0.0,NaN,0.000000,3.0,2300mAh,16GB/64GB/128GB,4.7
98328,18767295583,0,1.0,22.0,浙江湖州,37.09,2.09,55.0,0.0,0.0,...,NaN,NaN,37.216667,0.0,2.216667,55.000000,NaN,NaN,NaN,NaN
75994,15893398486,0,1.0,NaN,河南南阳,46.70,11.70,26.0,2333.0,0.0,...,NaN,NaN,40.966667,0.0,7.633333,26.000000,99.0,1650mAH,NaN,NaN
78427,15924235422,0,1.0,31.0,浙江金华,115.32,12.32,117.0,0.0,0.0,...,NaN,NaN,89.300001,0.0,9.300000,117.000000,NaN,NaN,NaN,NaN
64091,15242838797,0,1.0,NaN,辽宁鞍山,110.00,77.00,38.0,1386.0,0.0,...,NaN,NaN,61.500000,0.0,77.000000,38.000000,4.0,3000mAh,64GB/128GB,5.2
51454,15018087996,0,3.0,NaN,广东惠州,8.00,0.00,8.0,0.0,0.0,...,NaN,NaN,8.000000,0.0,NaN,8.000000,99.0,NaN,NaN,2.4
91712,18341753201,0,1.0,7.0,辽宁营口,27.00,0.00,27.0,0.0,0.0,...,NaN,NaN,22.500000,0.0,NaN,27.000000,NaN,NaN,NaN,NaN
44624,13937376806,0,0.0,NaN,河南新乡,21.00,0.00,21.0,965.0,0.0,...,NaN,NaN,44.290000,0.0,23.290000,21.000000,4.0,2000mAh,8GB,5.0
91669,18340422677,0,0.0,NaN,辽宁本溪,18.00,0.00,18.0,638.0,0.0,...,NaN,NaN,18.000000,0.0,NaN,18.000000,4.0,2550mAh,32GB,5.1
15077,13600831527,0,1.0,NaN,福建福州,122.49,0.00,81.0,0.0,0.0,...,27.0,1.0,116.786667,0.0,NaN,81.000000,3.0,3000mAh,16GB/64GB/128GB,4.7
49323,14717797311,0,0.0,NaN,山东济宁,30.79,0.00,18.0,0.0,0.0,...,NaN,NaN,27.116667,0.0,NaN,18.000000,4.0,3060mAh,16GB,5.5
83955,17815515677,0,0.0,20.0,浙江绍兴,54.00,0.00,173.0,0.0,0.0,...,NaN,NaN,55.793334,0.0,0.126667,174.666667,4.0,3001mAh,64GB,5.1
18445,13640148563,0,3.0,24.0,广东韶关,43.10,0.00,43.0,0.0,0.0,...,NaN,NaN,164.850004,0.0,NaN,163.000000,3.0,3000mAh,16GB/64GB/128GB,4.7
56799,15106005956,0,1.0,53.0,福建泉州,111.14,0.00,74.0,0.0,0.0,...,NaN,NaN,85.686666,0.0,NaN,70.666667,4.0,4120mAh,64GB,6.0
72660,15846369966,0,0.0,NaN,黑龙江哈尔滨,122.67,2.67,100.0,6017.0,0.0,...,NaN,NaN,121.590001,0.0,1.590000,100.000000,NaN,NaN,NaN,NaN
58126,15130057192,0,0.0,NaN,河北石家庄,13.77,0.00,3.0,334.0,0.0,...,NaN,NaN,13.473334,0.0,NaN,3.000000,NaN,NaN,NaN,NaN
11881,13565602962,0,0.0,NaN,新疆昌吉,78.00,0.00,78.0,0.0,0.0,...,NaN,NaN,78.000000,0.0,NaN,78.000000,4.0,2300mAh,16GB,4.8